:root {
    --fundo-color: #7A9EFB;
    --azul-color: #3EBFDB;
    --ciano-color: #3EDBBF;
    --amarelo-color: #FDF53A;
    --laranja-color: #F7931E;
}

html {
    font-size: 70.5%;
}
body {
    background-color: var(--fundo-color) !important;
    font-size: 1.6rem;
}
h5 {
    font-size: 1.8rem;
}
.row {
    display: flex;
}
.hidden {
    display: none;
}

.container {
    width: 50%;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 3%;
    margin-top: 3%;
}
.logoTxt {
    color: var(--fundo-color);
    font-size: 1.4rem;
    margin-top: 6%;
    margin-left: 2%;
    font-weight: bold;
}
.metaTxt {
    color: var(--laranja-color);
    font-size: 1.4rem;
    position: relative;
    margin-top: 8%;
    margin-left: 50%;
}

.secondLine {
    justify-content: space-between;
    width: 70vw;
}

.dataTxt {
    color: var(--ciano-color);
    font-size: 1.4rem;
    margin-left: 3%;
}

.totalTxt {
    color: var(--fundo-color);
    font-size: 1.4rem;
}

.refeicoes{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}
.almoco{
    background-color: var(--azul-color);
}
.cafeManha {
    background-color: var(--ciano-color);
}
.cafeTarde {
    background-color: var(--amarelo-color);
}
.janta {
    background-color: var(--laranja-color);
}
.text-refeicoes{
    margin-left: 4%;
    margin-bottom: 1%;
}


.refeicoes-buttons{
    display: flex;
    height: 40px;
}

.maisButton {
    margin-top: 19%;
    margin-right: 13px;
}
.maisIcon {
    width: 18px;
    height: 17px;
}
.infoButton {
    margin-right: 20px;
    margin-top: 19%;
}
.infoIcon {
    width: 20px;
    height: 19px;
}

#meta-button {
    position: relative;
    margin: auto;
    margin-top: 4%;
    align-items: center;
    width: 180px;
    height: 47px;
    border: 1px solid var(--ciano-color);
    border-radius: 15px;
    color: var(--ciano-color);
}
#paddingbutton {
    padding-bottom: 5%;
}

#meta-button p {
    margin-right: 5px;
    margin-left: 23%;
}
#meta-button img {
    width: 21px;
    height: 20px;
    align-self: center;
}

#meta-edit {
    position: relative;
    display: none;
    margin: auto;
    margin-top: 4%;
    align-items: center;
    width: 270px;
    height: 47px;
    border: 1px solid var(--ciano-color);
    border-radius: 10px;
    color: var(--ciano-color);
}

#meta-edit input {
    font-size: 1.3rem;
    width: 190px;
    margin-left: 5px;
    border: none;
    outline: none;
}
.buttonX {
    width: 21px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.iconX{
    width: 21px;
    height: 20px;
    transform: rotate(45deg)
}
.iconCheck{
    width: 21px;
    height: 20px;
    margin-right: 10px;
}

.adicionarTxt {
    margin-top: -8px;
    position: relative;
    left:200px;
    font-size: 1.7rem;
}

#searchAlim {
    position: relative;
    margin: auto;
    margin-top: 4%;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
    height: 37px;
    border: 1px solid var(--ciano-color);
    border-radius: 10px;
    color: var(--ciano-color);
}
#inputSearch {
    font-size: 1.3rem;
    margin-left: 5px;
    border: none;
    outline: none;
}
.back{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.rowMsm{
    display: flex;
    flex-direction: row;
    width: 100%;
}


@media (max-width: 1210px){
    html {
        font-size: 60%;
    }
}
@media (max-width: 1030px){
    html {
        font-size: 50%;
    }
    .metaTxt {
        color: var(--laranja-color);
        font-size: 1.4rem;
        position: relative;
        margin-top: 8%;
        margin-left: 44%;
    }
}

@media (max-width: 770px){
    html {
        font-size: 64%;
    }
    body {
        background-color: white !important;
        overflow: hidden;
    }
    .container {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
    .metaTxt {
        color: var(--laranja-color);
        font-size: 1.4rem;
        position: relative;
        margin-top: 8%;
        margin-left: 52%;
    }
    .secondLine {
        width: 95vw;
    }
    .dataTxt {
        margin-right: 40%;
    }
    
}
@media (max-width: 528px){
    .metaTxt {
        color: var(--laranja-color);
        font-size: 1.4rem;
        position: relative;
        margin-top: 8%;
        margin-left: 28%;
    }
    
}
@media (max-width: 345px){
    html {
        font-size: 55%;
    }
    
}