:root {
    --fundo-color: #7A9EFB;
    --azul-color: #3EBFDB;
    --ciano-color: #3EDBBF;
    --amarelo-color: #FDF53A;
    --laranja-color: #F7931E;
}

body {
    background-color: var(--fundo-color) !important;
}

.row {
    display: flex;
}

.container {
    width: 35%;
    height: 518px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 3%;
    margin-top: 3%;
}
.logoTxt {
    color: var(--fundo-color);
    font-size: 14px;
    margin-top: 8%;
    margin-left: 2%;
    font-weight: bold;
}
.metaTxt {
    color: var(--laranja-color);
    font-size: 14px;
    position: absolute;
    margin-top: 3%;
    margin-left: 25.5%;
}

/* .secondLine {
    
} */

.dataTxt {
    color: var(--ciano-color);
    font-size: 14px;
    margin-left: 3%;
    margin-right: 49%;
}

.totalTxt {
    color: var(--fundo-color);
    font-size: 14px;
    margin-right: 1%;
}

.infoButton{
    
}
.infoIcon {
    width: 20px;
    height: 21px;
}
.refeicoes{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}
.almoco{
    background-color: var(--azul-color);
}
.text-refeicoes{
    margin-left: 7%;
    margin-bottom: 2%;
}
.refeicoes-buttons{
    display: flex;
    flex-direction: row;
}